Usage
=====

This project was born to play with GitHub, Travis CI and the GitHub Maven site plugin to get a web site
for a GitHub project continuously deployed in the project's gh-pages branch (what means to be available
at http://[user or organization].github.io/[repository name].
